{% extends 'core/base.html' %}

{% block titulo %}Hospital | Bienvenida Padre{% endblock %}

{% block content %}

<h3>Bienvenido/a</h3>
<h1>Inés Galvez</h1>
<div class="container text-center">

<button type="button" class="btn btn-secondary btn-lg">Datos Paciente</button>
<button type="button" class="btn btn-secondary btn-lg">Seguimiento Paciente</button>



<img src="D:\Benja\Desktop\HTML HITO2\Nueva carpeta\imagenes\Captura.PNG"width="75%" height="75%"  class="alineadoTextoImagenAbajo"/>

</body>
</html>
<div class="row bt-5">
      <p><a href="{% url 'logout' %}">Cerrar Sesión</a></p>
    </div>
{% endblock %}
