{% extends 'core/base.html' %}

{% block titulo %}Hospital | Conozcanos{% endblock %}

{% block content %}
    <div id="info" class="container">
        <div class="row gx-5 align-items-center">
            <div class="col">
                <h1 class="text-center">Conózcanos</h1>
                <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt molestias laborum dolorem, nisi eos consequuntur ea illo eveniet sit blanditiis minima reiciendis, est incidunt consequatur asperiores nemo explicabo dicta! Sit.</p>
                <div id="img2"></div>
                <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio amet ipsam eaque, aperiam voluptas voluptate assumenda natus, id quis dicta sint! Sit deserunt iste ex quod voluptatum debitis laboriosam rerum.</p>
            </div>
            <div class="col">
                <h5>Header</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero possimus non vel cum iste ullam sed earum aperiam vitae aliquam itaque id similique magni consequuntur delectus, pariatur dignissimos nulla explicabo?</p>
                <h5>Header</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque soluta earum praesentium, libero aut fugiat iure esse corporis reprehenderit saepe et natus, neque sapiente est rerum pariatur, quidem rem eveniet.</p>
                <h5>Header</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                <h5>Header</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat inventore molestiae quas, non quos illum rem aliquid id officia dolore commodi asperiores dolores, nemo repellendus autem tempore, magnam delectus quod?</p>
            </div>
        </div>
    </div>
{% endblock %}