{% extends 'core/base.html' %}

{% block titulo %}Hospital{% endblock %}

{% block content %}
<h1 border-with: 1>Hospital Informa</h1>
<div class="container text-center">
<div class="row align-items-start">
<div class="col">
<br>
<h4>Reconocimiento a Enfermeras</h4>    
</div>
<div class="col">
<br>
<h4> Coordinación con Bomberos</h4>      
</div>
<div class="col">
<br>
<h4> Accidente Cerebro Vascular</h4>      
</div>

</div>

<div class="row align-items-center">
<div class="col" id="bordersolido">
<h7> Establecimiento celebró el Dia del Hospital
    entregando reconocimiento a quienes cumplieron 45,40,35,30, y 25 años de servicio.
</h7>      
</div>
<div class="col">
<h7> Pruebas de red seca y escala telescópica permitirán preparar de mejor manera el centro hospitalario 
    para una eventual emergencia.
</h7>          
</div>
<div class="col">
<h7> Especialistas del Hospital alertan sobre la importancia de un tratamiento
    y una rehabilitación temprana para recuperarse de ACV
</h7> 
</div>
</div>
<div class="row align-items-end">

<div class="col">
</div>
<div class="col">
</div>
<div class="col">

</div>
</div>
</div>
<div class="container text-center">
<div class="row align-items-start">
<div class="col">
<br>
<h4>Iniciativa Donación De órganos</h4>    
</div>
<div class="col">
<br>
<h4> Política de Alcohol y Drogas</h4>      
</div>
<div class="col">
<br>
<h4> Mes del Cáncer de Mama</h4>      
</div>

</div>

<div class="row align-items-center">
<div class="col">
<h7> Los vecinos, vecinas y locatarios dijeron si a la donación de órganos, gracias a la Iniciativa
    de la Unidad de Procura  del Servicio de Salud de Viña del Mar.
</h7>      
</div>
<div class="col">
<h7> Actualización "Reglamento interno de higiene y seguridad" -Política preventiva consumo de drogas
    y alcohol
</h7>          
</div>
<div class="col">
<h7> La Región tiene la segunda tasa de mortalidad más alta en el país a causa de esta patología
    que se puede tratar y prvenir precozmente.
</h7> 
</div>

{% endblock %}