{% extends 'core/base.html' %}

{% block titulo %}Hospital | Sesión Padres Vista Datos{% endblock %}

{% block content %}

<h5> Información Paciente</h5>


<img src="D:\Benja\Desktop\HTML HITO2\Nueva carpeta\imagenes\persona.png"width="80" height="80"  class="alineadoTextoImagenAbajo"/>

<br>
<h67> Nombre:</h67> 
<br>
<h67> Fecha De Nacimiento:</h67> 
<br>
<h67> Peso:</h67> 
<br>
<h67> Género:</h67> 
<br>
<h67> Matrona a Cargo:</h67> 
<h5> Informe Hospitalización</h5>
<h67> Fecha Ingreso:</h67> 
<br>
<h67> Motivo Ingreso:</h67> 
<br>
<h67> Nº de Cama:</h67> 
</body>
</html>
